[Unit]
Description=Web site

[Service]
Type=simple
Requires=httpd.service mysql.service hhvm.service backup.timer 
After=httpd.service mysql.service hhvm.service backup.timer
User=user
Group=user


[Install]
WantedBy=multi-user.target
